body {
    background-color: lightgray;
}

h1 { 
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    right: 0px;
    text-align: left; 
    background-color: #800000; 
    font-size: 36px; 
    padding: 16px; 
    width: 100%; 
    color: white;
}

#image {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

#file {
    width: 200px;
    margin-left: 150px;
}


#name{
    display: flex;
    color: black;
    margin-top: 100px;
    width: 600px;
}

#pass {
    display: flex;
    color: black;
    margin-top: 100px;
    width: 600px;
}



#namebox {
    margin: 15px;
    width: 200px;
}

#passbox {
    margin: 15px;
    width: 200px;
}

#passbox2 {
    margin: 15px;
    width: 200px;
}

#button {
    display: flex;
    justify-content: center;
}

#continue {
    background-color: #800000;
    color: white;
    margin-top: 100px;
    width: 200px;
    height: 70px;
    font-size: 30px;
}