<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Visual Memory Test Leaderboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link rel="stylesheet" href="styles/leaderboard.css">
    </head>
    <body>
        <h1>Leaderboard</h1>
        <div class="grid-container">
            <table border="1">
                <tr>
                    <th id="username">Username</th>
                    <th id="score">Score</th>
                </tr>
                {% for key, value in response %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            
        </div>

        <br>
        <div id="btn">
            <button type="submit" id="cont">Play Again</button>
        </div>
             
        <script src="scripts/leaderboard.js" async defer></script>
    </body>
</html>