<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Verbal Memory Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link rel="stylesheet" href="./styles/login.css">
    </head>
    <body>
            <div id="app"></div>
        
            <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
            <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
            <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
            <form method="GET" action="/words/">
                <script type="text/babel">
                    const app = document.getElementById("app");
                    const root = ReactDOM.createRoot(app);

                    function Login({onStart}) {
                    return (
                        <form method="POST" action="/login/">
                            <h1>Verbal Memory Login Page</h1>
                            <div id="name">
                                <h2><label for username>Enter your Username:</label></h2>
                                <input id="namebox" name="username" placeholder="Enter your name" minlength = "3" maxlength="20" required />
                            </div>

                            <div id="pass">
                                <h2><label for password>Enter your Password:</label></h2>
                                <input id="passbox" name="password" placeholder="Enter your password" minlength="7" maxlength="20" required />
                            </div>

                            <div id="pass">
                                <h2><label for password>Confirm Password:</label></h2>
                                <input id="passbox2" name="password" placeholder="Confirm Password" minlength="7" maxlength="20" required />
                            </div>

                            <div id="button">
                                <button type="submit" id="continue">Continue</button>
                            </div>
                        </form>
                        );
                    }

                function App() {
                const [isLogin, setLogin] = React.useState(false);

                const loadLogin = () => {
                    setLogin(true)
                };

                return (
                    <div className="App">
                            <Login onStart={loadLogin} />
                    </div>
                );
            }

                root.render(<App />);
                </script>
            </form>
            
    </body>
</html>




