<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Verbal Memory Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles/start.css" />
    </head>
    <body>
        <div id="app"></div>

        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <script type="text/babel">
            const app = document.getElementById("app");
            const root = ReactDOM.createRoot(app);

            function HomePage({ onStart }) {
                return (
                    <div>
                        <h1>Verbal Memory Test</h1>
                        <br />
                        <div id="desc">
                            <h2>How it works</h2>
                            <p>
                                You will be shown a series of words. If the current word has appeared in this session,
                                click the button “SEEN” for an extra point. If you have not seen the word in this
                                session, click the button “NEW” for an extra point. After three mistakes, the game is
                                over and your score is saved.
                            </p>
                        </div>
                        <form method="GET" action="/login/">
                            <div id="buttons">
                                <button type = "submit" onClick={onStart} className="button">Start</button>
                            </div>
                        </form>
                        
                    </div>
                );
            }

            


            function App() {
                const [isGameStarted, setGameStarted] = React.useState(false);
                

                const startGame = () => {
                    fetch("/api/words")
                        .then((response) => response.json())
                        .then((data) => {
                            setGameStarted(true);
                        })
                        .catch((error) => console.error("Error starting game:", error));
                };

                return (
                    <div className="App">
                            <HomePage onStart={startGame} />
                    </div>
                );
            }

            root.render(<App />);
        </script>
    </body>
</html>
